* {
  margin: 0;
  padding: 0;
}

header span a {
  float: right;
  margin: 16px;
  margin-top: 30px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
header span img {
  float: right;

  margin-top: 16px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
header a {
  text-decoration: none;
  color: rgb(34, 31, 31);
}
header a:hover {
  text-decoration: underline;
}
.sign {
  margin-right: 40px;
}
span img {
  width: 24px;
  padding: 12px;
  margin-right: 0px;
}
span img:hover {
  background-color: rgb(240, 238, 238);
  cursor: pointer;
  border-radius: 24px;
}

header span button {
  background-color: #4485f4;
  padding: 10px 14px 10px 14px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 15px;
  margin-bottom: 0px;
  border: 2px solid;
  border-radius: 5px;
  float: right;
  font-size: 18px;
  font-family: Arial, sans-serif;
  margin-right: 40px;
  margin-left: 16px;
  cursor: pointer;
}
section img {
  display: block;
  margin-top: 12rem;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}
.box {
  margin: 0px auto;
  position: relative;
  margin-top: -8px;
  text-align: center;
}

section input {
  display: block;
  margin-top: 3rem;
  width: 720px;
  height: 3.3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 35px;
  text-align: left;
  padding-left: 45px;
  font-size: 20px;
}
section input:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

input:focus {
  outline: none;
}
#search-logo {
  width: 20px;
  opacity: 0.5;
  position: absolute;
  top: -175px;
  left: 660px;
}
#voice-logo {
  width: 32px;
  opacity: 1;
  position: absolute;
  top: -180px;
  left: 1360px;
}

section .buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  text-align: center;
}
.buttons button {
  padding: 12px 20px 12px 20px;
  color: #5f6368;
  font-weight: 500;
  font-size: 18px;
  font-family: Arial, sans-serif;
  border-style: none;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}

footer {
  background-color: #f2f2f2;
  margin-top: 360px;
}
.footerli {
  color: rgba(0, 0, 0, 0.6);
  font-size: 35px;

  font-weight: 400;
  padding-left: 30px;
  display: inline;
}

footer a {
  color: #5f6368;
  display: inline-block;
  padding: 16px 8px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  text-decoration: underline;
}
